* {
  margin: 0;
}

body {
  color: crimson;
  background-color: beige;
  font-family: 'Iceland', cursive;
}

body.active {
  background-color:crimson;
}

body.active .timerDisp {
  color: beige;
}

body.active .key {
  border: none;
}

div#timer.timerDisp {
  width: 1090px;
  height: 1000px;
  margin: auto;
  margin-top: auto;
}

div.functionalButtons {
  width: 436px;
  height: 210px;
}

div.row {
  width: 436px;
  height: 45px;
}

div.row.bottomRow {
  width: 436px;
  height: 60px;
}

.timerDisp {  
  font-size: 10rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  margin-bottom:5rem;
}

.functionalButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40vw;
  height: min-content;
  align-items: center;
  flex-wrap: wrap;
}

.functionalButtons .row {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.functionalButtons .row:nth-child(3) {
  justify-content: space-between;
}

.resetBtn, .key {
  color: #090909;
  width: 3em;
  aspect-ratio: 1.618;
  border-radius: 0.3em;
  background: beige;
  border: 0.25px solid #090909;
  transition: ease-in-out all .3s;
  outline: none;
  font-weight: 700;
  font-family: 'Iceland', cursive;
  font-size: x-large;
  cursor: pointer;
}

.functionalButtons .row:nth-child(3) .key {
  width: 4em;
}

/* .buttonNum {
  width: 72px;
  height: 45px;
}

.buttonText {
  width: 96px;
  height: 60px;
} */

button:active:hover {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
  inset -4px -4px 12px #ffffff;
}